@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply box-border p-0 m-0 font-sans antialiased select-none;
  }

  html {
    @apply bg-black;
  }

  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .basic-component-statement-1 {
    @apply bg-white hover:bg-white/80 active:bg-white/60 aria-pressed:bg-white/60 text-black;
  }

  .visually-hidden {
    @apply w-[1px] h-[1px] overflow-hidden absolute top-[-1px] left-[-1px] border-0;
  }
}
